body { 
  margin-left:10%;
  padding:0;
  background: url(planet-2120004_1280.jpg) no-repeat center fixed; 
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */
  color: azure;
  font: Comic sans ms;
}

.logo_SAP {
    /*filter: opacity(50%);*/
}


.videos{
    position: absolute;
    top: 8px;
    right: 16px;
    margin-right:3%;
    margin-top:6%;
    filter: opacity(70%);
}

.premVideo{
    /*padding-left: 30px;
    margin-left: 50px;*/
    margin-top:30px;
    border:2px solid white;
}