body { 
    margin-left:10%;
    padding:0;
    /*background: url(0001.jpg) no-repeat center fixed; */
    background-color:black;
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
    color: #F0AB00;
    font: Comic sans ms;
  }
  .logo_SAP{
     margin-top: 10px;
    height: 40px;
    width: 80px;
  }
  iframe{
      position: absolute;
      right: 16px;
      margin-right:5%;
      top: 15%
  }
  
  .videos{
      width: 370px;
      height: 1000px;
      position: fixed;
      top: 2%;
      margin-top:1%;
      left: 115px;
      filter: opacity(70%);
  }
  
.card{
    overflow:hidden;
    width: 370px;
    height: 250px;
    background-color: black;
  }
 .card img{

    filter: brightness(0.6);
    -webkit-filter: brightness(0.6);
    display:block;
    position:relative;
    -webkit-transition:all .4s linear;
    transition:all .4s linear;
 }

  .card:hover img{
    filter: brightness(1);
    -webkit-filter: brightness(1);
    -ms-transform:scale(1.2);
    -webkit-transform:scale(1.2);
    transform:scale(1.2);
  }
 

  .premVideo{
      /*padding-left: 30px;
      margin-left: 50px;*/
      margin-top:1%;
      
  }
  
  .card .videoTitle {
    filter: brightness(1);
    -webkit-filter: brightness(1);
    width: 370px;
    height: 230px;
    position: absolute;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 20px;
    padding-left: 20px;
    font:center;
    word-wrap: break-word; 
    word-break: normal; 
    color:white;
    font-size: 30px;
  }
  
  .logo_SAP{
    position: absolute;
      right: 16px;
      margin-right:5%;
  }

.modal-content{
    background-color: #F0AB00;
    color : black;
}

#rfid{
    position: fixed;
    bottom: 5%;
    left: 85% ;
    filter: opacity(0%);
}

#mail{
    position: fixed;
    bottom: 5%;
    left: 95% ;
    filter: opacity(100%);
}
  
.badge{
    bottom: 0.1%;
    left: 86% ;
    position: absolute;
    animation-name:badgeJump;
    animation-duration:1s;
    animation-timing-function:ease;
    animation-delay:3s;
    animation-iteration-count:infinite;
    animation-direction:normal;
    animation-play-state:running;
    -webkit-animation-name:badgeJump;
    -webkit-animation-duration:1s;
    -webkit-animation-timing-function:ease;
    -webkit-animation-delay:3s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-direction:normal;
    -webkit-animation-play-state:running;
}

  h4 {
      position: absolute;
      top: 6%;
      right: 16px;
      margin-right:5%;
  }
  
  h5{
      position: absolute;
      top: 10%;
      right: 16px;
      margin-right:5%;
  }

  
  .text{
    border-radius:10px;
    border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;
      background-color: #F0AB00;
      color:white;
      position: absolute;
      bottom: 0%;
      right: 0%;
      filter: opacity(80%);
      width: 1200px;
      height: 200px;
  }

  h3{
      padding-left: 8%;
  }

.text_bottom {
      position: absolute;
      margin-left:9%;
      font-size: 30px;
  }

.input{
    position: fixed;
    bottom: 10%;
    left: 85% ;
    font-size: 20px;

}
  
  .container {
    height: 120px;
    width: 120px;
    margin-left:550px;
    top:50px;
    /*right: 30%;*/
    position: absolute ;
  }

  .circle {
    background-color:#F0AB00;
    height: 120px;
    width: 120px;
    display: block;
    border: 8px solid white;
    border-radius: 100px;
    position: absolute;
    bottom: 0;
    z-index: 1;
    animation-name:circle;
    animation-duration:1s;
    animation-timing-function:linear;
    animation-delay:0s;
    animation-iteration-count:infinite;
    animation-direction:normal;
    animation-play-state:running;
    -webkit-animation-name:circle;
    -webkit-animation-duration:1s;
    -webkit-animation-timing-function:linear;
    -webkit-animation-delay:0s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-direction:normal;
    -webkit-animation-play-state:running;
  }
  .fa {
    font-size: 42px;
    color:white;
    bottom: 27px;
    position: absolute;
    left: 50%;
    margin-left: -18px;
    animation-name:arrow;
    animation-duration:1s;
    animation-timing-function:linear;
    animation-delay:0s;
    animation-iteration-count:infinite;
    animation-direction:normal;
    animation-play-state:running;
    -webkit-animation-name:arrow;
    -webkit-animation-duration:1s;
    -webkit-animation-timing-function:linear;
    -webkit-animation-delay:0s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-direction:normal;
    -webkit-animation-play-state:running;
  }
  .pulse {
      margin: 0 auto;
      border-radius: 100px;
      position: absolute;
    left: 5px;
      top: 5px;
      z-index: 0;
      background-color: transparent;
      opacity: 0;
      width: 110px;
      height: 110px;
      border: 10px solid white;
      -webkit-border-radius: 100px;
      -moz-border-radius: 100px;
      -o-border-radius: 100px;
      -ms-border-radius: 100px;
      border-radius: 100px;
      /* Giving Animation Function */
      -webkit-animation: pulse 1s linear infinite 0.3s;
      -moz-animation: pulse 1s linear infinite 0.3s; 
      border-image: initial;
  }
  @keyframes badgeJump
  {
  0%   {bottom:0px;
  }
  75% {bottom:30px;}
  100% {bottom:0px;}
  }
@-webkit-keyframes badgeJump
  {
  0%  {bottom:0px;}
  75% {bottom:30px;}
  100% {bottom:0px;}
  }
  @keyframes arrow
      {
      0%   {bottom:30px;
      }
      75% {bottom:30px;}
      100% {bottom:30px;}
      }
  @-webkit-keyframes arrow
      {
      0%  {bottom:30px;}
      75% {bottom:30px;}
      100% {bottom:30px;}
      }
  @keyframes circle
      {
      0%   {width:150px;}
      10% {width: 160px;}
    50% {width: 200px;}
      75% {width: 280px;}
    90% {width: 160px;}
      100% {width: 150px;}
      }
  @-webkit-keyframes circle
      {
    0%  {width:150px;}
      10% {width: 160px;}
    50% {width: 200px;}
      75% {width: 280px;}
    90% {width: 160px;}
      100% {width: 150px;}
      }
  @-webkit-keyframes pulse {       
    0% {-webkit-transform: scale(0); opacity: 0;}
    8% {-webkit-transform: scale(0); opacity: 0;}
    15% {-webkit-transform: scale(0.1); opacity: 1;}
    30% {-webkit-transform: scale(0.5); opacity: 1;}
    100% {opacity: 0; -webkit-transform: scale(1.5);}
  }
  @-moz-keyframes pulse {       
    0% {-webkit-transform: scale(0); opacity: 0;}
    8% {-webkit-transform: scale(0); opacity: 0;}
    15% {-webkit-transform: scale(0.1); opacity: 1;}
    30% {-webkit-transform: scale(0.5); opacity: 1;}
    100% {opacity: 0; -webkit-transform: scale(1.5);}
  }